@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";
@layer base {
  html,
  body {
    font-family: "Mulish", sans-serif;
    scroll-behavior: smooth;
    background: #143C49;
    color: white;
  }
  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 768px;
      padding-right: 5rem;
      padding-left: 5rem;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  }
}

@layer utilities {
  .hover-header {
    @apply capitalize transition-all duration-300 hover:bg-white hover:-translate-y-1 px-4 py-2 hover:text-[#E58411] rounded-full;
  }
  .button-nft {
    @apply bg-[#F81DFB]/8 text-white px-2.5 py-2.5 rounded-lg transition-all ease-in-out duration-400 cursor-pointer;
  }
  .button-nft:hover {
    @apply bg-[#F81DFB];
  }
  .icon-footer{
    @apply size-12 border p-2.5 rounded-full transition-all duration-300 hover:bg-[#F3A60D];
  }
}
